@page "/certification"

<p>
    • @Name
    <a href="@Url" target="_blank">[Link]</a>
    <quaternarycolor>[@Year]</quaternarycolor>
</p>

@code {
    [Parameter]
    public string? Year { get; set; }
    
    [Parameter]
    public string? Name { get; set; }

    [Parameter]
    public string? Exam { get; set; }

    [Parameter]
    public string? Url { get; set; }
}
