@page "/certifications"

<PageTitle>Mitchell Fenner - Certifications</PageTitle>

<h3>Microsoft Certifications:</h3>

<Certification
    Year="2024"
    Name="Azure Solutions Architect Expert"
    Exam="AZ-305"
    Url="https://learn.microsoft.com/en-us/users/mitchfen/credentials/c8b6a68524ccee90"
/>

<Certification
    Year="2023"
    Name="DevOps Engineer Expert"
    Exam="AZ-400"
    Url="https://learn.microsoft.com/en-us/users/mitchfen/credentials/8c2070fe86c986ee"
/>

<Certification
    Year="2023"
    Name="Azure Administrator Associate"
    Exam="AZ-104"
    Url="https://learn.microsoft.com/en-us/users/mitchfen/credentials/cccf259868928345"
/>

<Certification
    Year="2022"
    Name="Azure Fundamentals"
    Exam="AZ-900"
    Url="https://learn.microsoft.com/en-us/users/mitchfen/credentials/a814bbad032d2e58"
/>


<h3>Other Certifications:</h3>
<p>• I'm working towards becoming a Certified Kubernetes Administrator.</p>
