@page "/"
<PageTitle>Mitchell Fenner - Home</PageTitle>

<div class="flex-item">
    <p>
        Hi there 👋
        <br />
        Welcome to Mitchell Fenner's personal website. 
        <br />
        Use the sidebar to check out some of the things I've been up to,
        or find me somewhere else:
        <br />
        <ul>
            <li>
                <a href="mailto:mitch@mitchfen.xyz">mitch@mitchfen.xyz</a>
            </li>
            <li>
                <a href="https://linkedin.com/in/mitchfen" target="_blank">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/mitchfen" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="https://orcid.org/0000-0002-9684-0447" target="_blank">Orcid</a>
            </li>
            <li>
                <a href="https://learn.microsoft.com/en-us/users/mitchfen/" target="_blank">Microsoft Learn</a>
            </li>
        </ul>
        <!--
        <br/>
        • <a href="https://leetcode.com/u/mitchfen/" target="_blank">LeetCode</a>
        <br/>
        • <a href="https://www.hackerrank.com/profile/mitchfen" target="_blank">HackerRank</a>
        <br/>
        • <a href="https://hub.docker.com/u/mitchfen" target="_blank">DockerHub</a>
        -->
    </p>
</div>
