:root {
  --background: #0a0b0d;
  --foreground: #979c9c;
  --magenta: #a63245;
  --orange: #348899;
}

.magenta {
  color: var(--magenta);
}

.orange {
  color: var(--orange);
}

.foreground {
  color: var(--foreground);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-size: 20pt;
  font-family: monospace, sans-serif;
  padding: 0.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

code {
  font-family: monospace;
  padding: 2px;
  font-size: 90%;
}

legend {
  /*border-radius: 5px;*/
  border: 0px solid #ccc;
  padding: 5px 5px 5px 5px;
}

fieldset {
  border: 1.25px solid #ccc;
  /*border-radius: 5px;*/
  padding: 1em;
}

a {
  color: var(--orange);
  text-decoration: none;
  /*font-style: italic; */
}

a:hover {
  text-decoration: underline;
  /*font-style: italic; */
}

.flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-column {
  max-width: 50%;
}

.left-column {
  padding-right: 3em;
}

.social {
  margin: 5px 10px 5px 10px;
  will-change: transform;
  transition: transform 450ms;
  color: var(--foreground);
}

.social:hover {
  color: var(--magenta);
  transition: transform 125ms;
  transform: translateY(-10px);
}

@media (prefers-reduced-motion: reduce) {
  .social {
    transition: none;
  }
}

@media (max-width: 1400px) {
  .left-column {
    padding-right: 2em;
  }
  body {
    font-size: 15pt;
  }
}

@media (max-width: 950px) {
  .flex-parent {
    flex-direction: column;
  }
  .left-column {
    padding-right: 0em;
  }
  .right-column {
    max-width: 100%;
  }
  .social {
    color: var(--magenta);
  }
  .social:hover {
    color: var(--magenta);
    transition: none;
    transform: none;
  }
  body {
    font-size: 15pt;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 14pt;
  }
}

@media (max-width: 420px) {
  body {
    padding: 0em;
    font-size: 13pt;
  }
}

@media (max-width: 370px) {
  body {
    font-size: 12pt;
  }
}

@media (max-width: 325px) {
  body {
    font-size: 10pt;
  }
}
